body{
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;;
}



.profile{
    background-color:hsl(246, 80%, 60%); 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-text:hover{
    cursor: pointer;
}

.time-period{
    color: hsl(236, 100%, 87%);
}

.time-period:hover{
    cursor: pointer;
}
#daily-report:hover{
    color: white;
}
#weekly-report:hover{
    color: white;
}
#monthly-report:hover{
    color: white;
}

.second-detail{
    color:hsl(236, 100%, 87%) ;
}

.menu{
    background-color: hsl(235, 46%, 20%);
}

#three-dot{
    font-size: 25px;
    margin-bottom: 0;
}


.work-card, .work-details:hover{
    cursor: pointer;
}



/* Mobile screen */

@media only screen and (min-width: 360px) and (max-width: 800px) {
   .pic{
    width: 50px;
    height: 50px;
    padding: 3px;
    border-radius: 50%;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
   }

   .container{
    width: 305px;
    margin: 0 auto 0 auto;
}
   .profile-text{
    margin-top: 15px;
   }
    img{
        
        width: 50px;
        height: 50px;
    }
    .profile{
        width: 305px;
        height: 120px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }
    .time-period{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        color: hsl(236, 100%, 87%);
    }
    .menu{
        width: 305px;
        height: 180px;
        border-radius: 20px; 
    }
    .work-card{
        margin-top: 20px;
        border-radius: 20px;
        height: 140px;  
    }
    #design-icon{
        width: 305px;
        text-align: right;
      
    }
    #design-icon img{
        margin-right: 20px;
        
    }
    .work-details{
        background-color:hsl(235, 46%, 20%) ;
        border-radius: 20px;
        height: 110px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -20px;
        position: relative;
        
    }
    .first-detail{
        margin-left: 20px;
    }
    .second-detail{
        text-align: right;
        margin-right: 20px;
    }
    #profile-report{
        font-size: 10px;
        color: hsl(236, 100%, 87%);
        margin-bottom:0 ;
        margin-top: 25px;
    }
    #profile-name{
        margin-top: 0;
        font-size: 18px;
    }
    .profile-text{
        color: white;
    }
    #past-week{
        font-size: 11px;
    }
    #hours{
        font-size: 30px;
        margin: 0;
    }
}

/* Other screens */
@media only screen and (min-width: 801px){
    .container{
        width: 1000px;
        margin: 100px auto 0 auto;
        display: grid;
        grid-template-columns: 0fr 1fr; 
    }
    
    .menu{
        width: 235px;
        height: 450px;
        border-radius: 20px; 
        margin-right: 20px;
    }
    
    .pic{
        width: 70px;
        height: 70px;
        padding: 3px;
        border-radius: 50%;
        background-color: white;
        margin-top: 30px;
        margin-left: 30px;
    }
    img{ 
        width: 70px;
        height: 70px;
    }
    .profile{
        width: 235px;
        height: 300px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }
    #profile-report{
        font-size: 10px;
        color: hsl(236, 100%, 87%);
        margin-bottom:0 ;
        margin-top: 25px;
    }
    #profile-name{
        margin-top: 0;
        font-size: 30px;
        font-weight: 300;
    }
    .profile-text{
        color: white;
        margin-top: 115px;
        margin-left: -80px;
        
    }
    .time-period{
        height: 120px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        list-style: none;
        color: hsl(236, 100%, 87%);
    }
    .menu-details{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .work-details{
        background-color:hsl(235, 46%, 20%) ;
        border-radius: 20px;
        height: 172px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -30px;
        position: relative;
        margin-bottom: 20px;
    }
    .work-card{
        margin-bottom: 20px;
        margin-right: 20px;
        border-radius: 20px;
        height: 215px;  
    }
    #design-icon{
        width: 235px;
        text-align: right;
      
    }
    #past-week{
        font-size: 11px;
        margin-top: 80px;
        margin-left: -100px;
    }
    #three-dot{
        text-align: right;
        margin-right: 20px;
    }
    .first-detail{
        margin-left: 20px;
        color: white;
    }
    #hours{
        font-size: 60px;
        font-weight: 300;
        margin-top: 25px;
    }
}