body{
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;;
}

.container{
    width: 305px;
    margin: 0 auto 0 auto;
    
    
}

.profile{
    background-color:hsl(246, 80%, 60%); 
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#profile-report{
    font-size: 10px;
    color: hsl(236, 100%, 87%);
    margin-bottom:0 ;
    margin-top: 25px;
}
#profile-name{
    margin-top: 0;
    font-size: 18px;
}
.profile-text{
    color: white;

}
.profile-text:hover{
    cursor: pointer;
}

.time-period{
    color: hsl(236, 100%, 87%);
}

.time-period:hover{
    cursor: pointer;
}
#daily-report:hover{
    color: white;
}
#weekly-report:hover{
    color: white;
}
#monthly-report:hover{
    color: white;
}

.second-detail{
    color:hsl(236, 100%, 87%) ;
}

.menu{
    background-color: hsl(235, 46%, 20%);
}

#three-dot{
    font-size: 25px;
    margin-bottom: 0;
}
#past-week{
    font-size: 11px;
}

.work-card, .work-details:hover{
    cursor: pointer;
}

#hours{
    font-size: 30px;
    margin: 0;
}

/* Mobile screen */

@media only screen and (min-width: 375px) and (max-width: 600px) {
   .pic{
    width: 50px;
    height: 50px;
    padding: 3px;
    border-radius: 50%;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;

    /* position: absolute;
    top: 40px;
    left: 60px; */
    
   }

   .profile-text{
    margin-top: 15px;
   

   }
    img{
        
        width: 50px;
        height: 50px;
    }
    .profile{
        width: 305px;
        height: 120px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }
    .time-period{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        color: hsl(236, 100%, 87%);
    }
    .menu{
        width: 305px;
        height: 180px;
        border-radius: 20px; 
    }
    .work-card{
        margin-top: 20px;
        border-radius: 20px;
        height: 140px;  
    }
    #design-icon{
        width: 305px;
        text-align: right;
      
    }
    #design-icon img{
        margin-right: 20px;
        
    }
    .work-details{
        background-color:hsl(235, 46%, 20%) ;
        border-radius: 20px;
        height: 110px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -20px;
        position: relative;
        
    }
    .first-detail{
        margin-left: 20px;
    }
    .second-detail{
        text-align: right;
        margin-right: 20px;
    }
}